{% extends "auctions/layout.html" %}

{% block body %}
<div class="row">
    {% if user.is_authenticated %}
        {% if isWatchlist %}
        <form action="{% url 'remove' id=listing.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">remove from watchlist</button>
        </form>    
        {% else %}
        <form action="{% url 'add' id=listing.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Add to watchlist</button>
        </form> 
        {% endif %}
    {% endif %}
</div>

<div class="card" style="width: 18rem;">
    <img src="{{ listing.imageUrl }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ listing.title }}</h5>
        <p class="card-text">{{ listing.description }}</p>
        <p class="card-text">{{ listing.owner }}</p>
        <h4>Initial Price: {{ listing.price.bid }}</h4>
        {% if user.is_authenticated %}
        <form action="{% url 'bid' id=listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="bid">
            <button class="btn btn-primary" type="submit">Make a Bid</button>
        </form>    
        {% endif %}
    </div>
</div>

<div class="row">
    <h3>Comments</h3>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' id=listing.id %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" id="exampleFormControlTextarea1" style="resize: none;" name="comment" rows="3"></textarea>
            <button class="btn btn-primary" type="submit">add comment</button>
        </form>    
    {% endif %}
</div>
    {% for comment in comments %}
        <div class="card" style="width: 18rem;">
            <h2>{{ comment.author }}</h2>
            <p>{{ comment.message }}</p>
        </div>
    {% endfor %}

{% endblock %}